.header{
    background-color: rgb(32, 32, 153);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.HContainer{
    margin: 20px 0px 100px 0px;
}
.headerList{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
}
.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #fabb02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
}
.searchIcon {
    color: lightgray;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.searchInput{
    border: none;
    outline: none;
}
.searchText {
    color: lightgray;
    cursor: pointer;
}
